@import "tailwindcss";

/* ===== Custom Scrollbar ===== */
::-webkit-scrollbar {
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

::-webkit-scrollbar {
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: #c53030;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff3b3b;
}
